    h1 {
        text-align: center;
    }

    .head1 {
        font-weight: bold;

        font-size: 40px;
    }

    h2 {

        text-align: center;
    }

    .head2 {
        font-size: 36px;
    }


    fieldset {
        text-align: center;


    }


    .container1 {
        font-size: 10px;
        margin-top: -5rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container2 {
        background-color: transparent;
        font-size: 10px;
        margin-top: -20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }



    body {
        background-image: url("./back2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image-button4 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .image-button4 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .image-button3 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .image-button3 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .image-button2 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .image-button2 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .image-button1 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .image-button1 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }